<p>Hello Community Partner,</p>
<p>Thank you for participating in the SuccessLink Summer Jobs Program.</p>
<p>To login to Summer Jobs Applicant Review Portal, visit the following link: <a href="<%= @url %>"><%= @url %></a></p>
<p>This is a unique link for you and your organization. Do not share it with anyone who should not be reviewing candidate information.</p>
<p>You can begin review applicants now. When you log in, you will see a list of applicants that might have interest in working for you. We encourage you to reach out to the applicants to schedule interviews. Once you have made your hiring selections, please select "hire" or "do not hire" in the portal.</p>
<p>Please feel free to reach out to our team with any questions or if you notice any issues!</p>
<p>Sincerely,</p>
<p>The BCYF Youth Engagement and Employment Team</p>
<p>BCYF Youth Engagement and Employment
1483 Tremont St., Boston, MA 02201
youthline@boston.gov
617-635-4202</p>
