<div class="b">
  <div class="b-c">
    <div class="h2 tt-u ta-c p-h300">We're unable to log your response</div>
    <hr class="hr hr--sq m-h300 m-v500">
    <div class="ta-c p-h200 t--intro">
      There was an issue logging your response. Please try again, or contact BCYF Youth Engagement and Employment at <a href="mailto:youthline@boston.gov">youthline@boston.gov</a>, or via phone at <a href="tel:617-635-4202">617-635-4202</a>.
    </div>
  </div>
</div>